.padding-content {
	padding-top: 25px;
}

.map-form {
	height:380px;
	width: 100%;
}

.margin-title {
	margin-bottom: 40px;
}

.margin-form {
	margin-bottom: 10px;
}

a:hover{
    text-decoration: none;
}

.strong {
	font-weight: bold;
}

.big-icon {
	font-size: 80px;
	margin: 20px;
}

.big-text-button {
	font-size: 20px;
}

/* --- Style for the admin page --- */
.wrapper {	
	margin-top: 80px;
  	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);  

  	.form-signin-heading, .checkbox {
	 	margin-bottom: 30px;
	}

	.form-control {
	  	position: relative;
	  	font-size: 16px;
	  	height: auto;
	  	padding: 10px;
	}
}

.mail-style {
	font-weight: bold;
	color: red;
}

#explanation-button {
	margin-bottom: 40px;
}

.text-content {
	margin-bottom: 40px;
	font-size: 15px;
}